@charset "utf-8";
body {
  text-align: center;
  margin: 0;
}
#container {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#main_wrapper {
  width: 100%;
  margin-right: -315px;
  float: left;
}
#main { margin-right: 320px; }
#side {
  width: 314px;
  float: left;
}
#footer {
  width: 100%;
  clear: left;
}
