@charset "utf-8";

#game_type1_vs_type1_win_rate .legend_1 {
	color: #0000FF;
	font-weight: bold;
	background-color: #DDDDFF;
	text-decoration: underline;
}

#game_type1_vs_type1_win_rate .legend_2 {
	color: #0000FF;
	font-weight: normal;
	background-color: #DDDDFF;
}

#game_type1_vs_type1_win_rate .legend_3 {
	color: #0000FF;
	font-weight: noraml;
}

#game_type1_vs_type1_win_rate .legend_4 {

}

#game_type1_vs_type1_win_rate .legend_5 {
	color: #FF0000;
	font-weight: normal;
}

#game_type1_vs_type1_win_rate .legend_6 {
	color: #FF0000;
	font-weight: normal;
	background-color: #FFDDDD;
}

#game_type1_vs_type1_win_rate .legend_7 {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFDDDD;
	text-decoration: underline;
}

