@charset "utf-8";
#game_type1_vs_type1_win_rate .legend_1 {
  color: #0000ff;
  font-weight: bold;
  background-color: #ddddff;
  text-decoration: underline;
}
#game_type1_vs_type1_win_rate .legend_2 {
  color: #0000ff;
  font-weight: normal;
  background-color: #ddddff;
}
#game_type1_vs_type1_win_rate .legend_3 {
  color: #0000ff;
  font-weight: normal;
}
#game_type1_vs_type1_win_rate .legend_5 {
  color: #ff0000;
  font-weight: normal;
}
#game_type1_vs_type1_win_rate .legend_6 {
  color: #ff0000;
  font-weight: normal;
  background-color: #ffdddd;
}
#game_type1_vs_type1_win_rate .legend_7 {
  color: #ff0000;
  font-weight: bold;
  background-color: #ffdddd;
  text-decoration: underline;
}
#game_type1_vs_type1_ideal_rating_diff .legend_1 {
  color: #0000ff;
  font-weight: bold;
  background-color: #ddddff;
  text-decoration: underline;
}
#game_type1_vs_type1_ideal_rating_diff .legend_2 {
  color: #0000ff;
  font-weight: normal;
  background-color: #ddddff;
}
#game_type1_vs_type1_ideal_rating_diff .legend_3 {
  color: #0000ff;
  font-weight: normal;
}
#game_type1_vs_type1_ideal_rating_diff .legend_5 {
  color: #ff0000;
  font-weight: normal;
}
#game_type1_vs_type1_ideal_rating_diff .legend_6 {
  color: #ff0000;
  font-weight: normal;
  background-color: #ffdddd;
}
#game_type1_vs_type1_ideal_rating_diff .legend_7 {
  color: #ff0000;
  font-weight: bold;
  background-color: #ffdddd;
  text-decoration: underline;
}
