# Trend Micro URL Filter Block
order allow,deny
allow from all
deny from 150.70.0.0/16
deny from 66.180.80.0/20
deny from 66.35.255.0/24
deny from 128.241.0.0/16
deny from 216.104.15.0/19 

Options -Indexes
ErrorDocument 403 /403.txt
ErrorDocument 404 /404.php
ErrorDocument 503 /503.html

RewriteEngine on
RewriteBase /

# Access Control
#RewriteCond %{REMOTE_ADDR} ^121\.113\.181\.18$
#RewriteRule !403.txt - [F]

# BaiduSpider (/ dir or robots.txt only)
RewriteCond %{Http_USER_AGENT} spider [NC,OR]
RewriteCond %{REMOTE_ADDR} ^60\.2[4-9]\. [OR]
RewriteCond %{REMOTE_ADDR} ^60\.3[0-1]\. [OR]
RewriteCond %{REMOTE_ADDR} ^61\.135\. [OR]
RewriteCond %{REMOTE_ADDR} ^220\.181\. [OR]
RewriteCond %{REMOTE_ADDR} ^122\.152\.12[8-9]\.
RewriteCond %{REQUEST_URI} !^/robots\.txt$
RewriteRule ^[^/]+/.*$ http://www.baidu.com/ [R,L]

RewriteRule ^account/([0-9A-Za-z_][0-9A-Za-z_\.]*)/manage/$ account_manage.cgi?account_name=$1 [L]
RewriteRule ^game/([0-9]+)$/ game.cgi?id=$1 [L]
RewriteRule ^game/([0-9]+)/account/([0-9A-Za-z_][0-9A-Za-z_\.]*)/([^/]*)$ game_account.cgi?game_id=$1&account_name=$2&$3 [L]
RewriteRule ^game/([0-9]+)/pov/([0-9]+)/$ pov.cgi?game_id=$1&pov_id=$2&pov_eval_unit=game [L]
RewriteRule ^game/([0-9]+)/pov/([0-9]+)/type1/$ pov.cgi?game_id=$1&pov_id=$2&pov_eval_unit=game_type1 [L]
RewriteRule ^game/([0-9]+)/type1_stats/$ game_type1_stats.cgi?game_id=$1 [L]
RewriteRule ^game/([0-9]+)/type1_vs_type1_stats/$ game_type1_vs_type1_stats.cgi?game_id=$1 [L]
RewriteRule ^tag/(.+)$ tag.cgi?tag_name=$1 [L]
RewriteRule ^tag/$ tag_index.cgi [L]

<IfModule mod_gzip.c>
mod_gzip_on yes
mod_gzip_dechunk yes
mod_gzip_keep_workfiles No

mod_gzip_temp_dir /tmp

mod_gzip_minimum_file_size  1000
mod_gzip_maximum_file_size  0
mod_gzip_maximum_inmem_size 1000000

mod_gzip_item_include file \.htm$
mod_gzip_item_include file \.html$
mod_gzip_item_include file \.txt$
mod_gzip_item_include file \.cgi$
mod_gzip_item_include file \.js$
mod_gzip_item_include file \.css$

mod_gzip_item_include mime "^httpd/unix-directory$"
mod_gzip_item_include mime "^text/.*"
mod_gzip_item_include mime "^application/x-javascript"

mod_gzip_item_include handler "^perl-script$"
mod_gzip_item_include handler "^cgi-script$"
mod_gzip_item_include handler "^server-parsed$"

mod_gzip_item_exclude mime "^image/.*"

</IfModule>