<%-
  shout_message = [
    "レートなんて飾りなんです。偉い人にはそれがわからんのです。",
    "Tenco! は出会い系ツール。",
  ].choice
-%>
λ＜<%= shout_message %><br />
毎時0分以降に更新<br />
<span style="font-weight:bold"><span style="color:red">New!</span> <a href="http://tenco.info/" target="_blank">辺獄録報告ツール Ver.0.00</a> </span>をリリースしました。（'15/5/16）<br />
<span style="font-weight:bold"><a href="http://www.tasofro.net/" target="_blank">深秘録Ver.1.02bパッチ</a></span>と<span style="font-weight:bold"><a href="http://mint.s150.xrea.com/?%E8%BE%BA%E7%8D%84%E9%8C%B2" target="_blank">辺獄録 Rev.7</a></span>が出ています。（'15/5/16）
<%# <a href="http://www.tasofro.net/" target="_blank">深秘録 C87体験版 Ver.1.01パッチ</a>が出ています。（'14/12/29）%>
<%# <span style="font-weight:bold">Tenco!が5周年を迎えました！これからもよろしくお願いいたします。</span>('13/11/23) %>
<%# 現在、対戦履歴表示を直近報告の最大100件のみにしています。現在対応中です。（10/05/26 04:07）<br /> %>