<%-
  shout_message = [
    "レートなんて飾りなんです。偉い人にはそれがわからんのです。",
    "Tenco! は出会い系ツール。",
    "プロプレイヤーに敬礼。",
  ].choice
-%>
λ＜<%= shout_message %><br />
<%= now.strftime("%m/%d %H:%M") %> に作成（毎時0分以降に再生成） ※3/23レート計算処理を一時停止します。<a href="https://twitter.com/tako774/status/447496584129806336" target="_blank">詳細1</a> <a href="https://twitter.com/tako774/status/447497110728884224" target="_blank">詳細2</a> <a href="https://twitter.com/tako774/status/447497241968664577" target="_blank">詳細3</a><br />
<span style="font-weight:bold"><a href="http://www.tasofro.net/" target="_blank">心綺楼Ver.1.33パッチ</a></span>と<span style="font-weight:bold"><a href="http://mint.s150.xrea.com/?%E7%B6%BA%E9%8C%B2%E5%B8%96" target="_blank">綺録帖 Rev.5</a></span>が出ています。（'13/12/24）<br />
PR: <span style="font-weight:bold">IRC</span>の<span style="font-weight:bold">Friend系列「#東方心綺楼対戦募集ch」</span>でキミも自由に対戦だ。IRC導入は<a href="http://wikiwiki.jp/futo/?IRC%C6%B3%C6%FE%CA%FD%CB%A1" target="_blank">布都wiki</a>を参考に。('14/3/15)
<%# <span style="font-weight:bold">Tenco!が5周年を迎えました！これからもよろしくお願いいたします。</span>('13/11/23) %>
<%# <span style="font-weight:bold"><a href="http://tenco.info/" target="_blank">綺録帖報告ツール Ver.0.02c</a>をリリースしました。</span>（'13/7/26）%>
<%# 現在、対戦履歴表示を直近報告の最大100件のみにしています。現在対応中です。（10/05/26 04:07）<br /> %>