	<ul id="link">
		<li>公式
			<ul>
				<li><a href="http://www.tasofro.net/" target="_blank">黄昏フロンティア</a></li>
				<li><a href="http://www16.big.or.jp/~zun/" target="_blank">上海アリス幻樂団</a></li>
			</ul>
		</li>
		<li>Tenco! 関連
			<ul>
				<li><a href="http://ja.wikipedia.org/wiki/%E3%82%A4%E3%83%AD%E3%83%AC%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0" target="_blank">イロレーティング - Wikipedia</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Glicko_rating_system" target="_blank">Glicko Ratings System - Wikipedia</a></li>
				<li><a href="<%= "#{TOP_URL}tag/" %>">タグ一覧 - Tenco!</a></li>
				<li><a href="<%= "#{TOP_URL}estimate_rating.cgi" %>">Tenco! レート推定（仮）</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E5%A4%A9%E5%89%87%E8%A6%B3%E5%A0%B1%E5%91%8A%E3%83%84%E3%83%BC%E3%83%AB" target="_blank">天則観報告ツール - 東方 Tools Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E8%A1%8C%E8%B7%A1%E5%A0%B1%E5%91%8A%E3%83%84%E3%83%BC%E3%83%AB%20Tenco%21" target="_blank">緋行跡報告ツール - 東方 Tools Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E5%A4%A9%E5%89%87%E8%A6%B3" target="_blank">天則観 - 東方ToolsWiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E8%A1%8C%E8%B7%A1" target="_blank">緋行跡 - 東方ToolsWiki</a></li>
				<li><a href="http://bngper.dip.jp/HisoutenAddressService/" target="_blank">AddressUpdater</a></li>
				<li><a href="http://www9.atpages.jp/hitenroku/wiki/" target="_blank">緋天録</a></li>
				<li><a href="http://th075ranking.dip.jp/" target="_blank">萃夢想レーティングシステム・Suica!</a></li>
			</ul>
		</li>
		<li>Wiki・掲示板等 - 非想天則	
			<ul>
				<li><a href="http://jbbs.livedoor.jp/game/48698/" target="_blank">萃磨選堆 東方非想天則掲示板</a></li>
				<li><a href="http://jbbs.livedoor.jp/netgame/3867/" target="_blank">東方非想天則 対戦募集用掲示板</a></li>
				<li><a href="http://find.2ch.net/?STR=%C8%F3%C1%DB%C5%B7%C2%A7+%C2%D0%C0%EF&amp;COUNT=50&amp;TYPE=TITLE&amp;BBS=ALL" target="_blank">2ch非想天則対戦スレ</a></li>
				<li><a href="http://www12.atwiki.jp/hisoutensoku/" target="_blank">東方非想天則Wiki</a></li>
				<li><a href="http://th123.glasscore.net/" target="_blank">東方非想天則攻略Wiki</a></li>
				<li><a href="http://www2.atwiki.jp/bulletaction/" target="_blank">細東攻Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E6%83%B3%E5%A4%A9%EF%BC%8B%E9%9D%9E%E6%83%B3%E5%A4%A9%E5%89%87" target="_blank">東方 Tools Wiki</a></li>
				<li><a href="http://swr.mizuumi.net/index.php/Main_Page" target="_blank">SWRWiki (swr.mizuumi.net)</a></li>
				<li><a href="http://nora178.web.fc2.com/" target="_blank">AU野良うさぎ(仮)サーバ</a></li>
				<li><a href="http://www26.atwiki.jp/norausa/" target="_blank">野良うさぎ＠Wiki</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki - 非想天則
			<ul>
				<li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗 霊夢</a></li>
				<li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨 魔理沙</a></li>
				<li><a href="http://wikiwiki.jp/sakuya123/" target="_blank">十六夜 咲夜</a></li>
				<li><a href="http://wikiwiki.jp/alice123/" target="_blank">アリス マーガトロイド</a></li>
				<li><a href="http://www21.atwiki.jp/patchouli_hitensoku/" target="_blank">パチュリー ノーレッジ</a></li>
				<li><a href="http://wikiwiki.jp/myon/" target="_blank">魂魄 妖夢</a></li>
				<li><a href="http://www21.atwiki.jp/soku_remilia/" target="_blank">レミリア スカーレット</a></li>
				<li><a href="http://wikiwiki.jp/yuyusama/" target="_blank">西行寺 幽々子</a></li>
				<li><a href="http://wikiwiki.jp/yukari_th123/" target="_blank">八雲 紫</a></li>
				<li><a href="http://wikiwiki.jp/suika/" target="_blank">伊吹 萃香</a></li>
				<li><a href="http://wikiwiki.jp/rinsen/" target="_blank">鈴仙 優曇華院 イナバ</a></li>
				<li><a href="http://wikiwiki.jp/aya/" target="_blank">射命丸 文</a></li>
				<li><a href="http://www37.atwiki.jp/komachi_wiki/" target="_blank">小野塚 小町</a></li>
				<li><a href="http://www6.atwiki.jp/ikuwiki/" target="_blank">永江 衣玖</a></li>
				<li><a href="http://wikiwiki.jp/tenshi/" target="_blank">比那名居 天子</a></li>
				<li><a href="http://wikiwiki.jp/sanae/" target="_blank">東風谷 早苗</a></li>
				<li><a href="http://wikiwiki.jp/chirno123/" target="_blank">チルノ</a></li>
				<li><a href="http://wiki.livedoor.jp/tohochu/" target="_blank">紅 美鈴</a></li>
				<li><a href="http://wikiwiki.jp/unyuho/" target="_blank">霊烏路 空</a></li>
				<li><a href="http://www21.atwiki.jp/moriya_suwako/pages/1.html" target="_blank">洩矢 諏訪子</a></li>
			</ul>
		</li>
		<li>Wiki・掲示板等 - 緋想天
			<ul>
				<li><a href="http://jbbs.livedoor.jp/game/44334/" target="_blank">萃磨選堆(したらば)</a></li>
				<li><a href="http://find.2ch.net/?STR=%C5%EC%CA%FD%C8%EC%C1%DB%C5%B7%A1%A1%A5%CD%A5%C3%A5%C8%C2%D0%C0%EF&amp;COUNT=50&amp;TYPE=TITLE&amp;BBS=ALL" target="_blank">2ch緋想天対戦スレ</a></li>
				<li><a href="http://www38.atwiki.jp/hisouten/" target="_blank">東方緋想天Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E6%83%B3%E5%A4%A9%EF%BC%8B%E9%9D%9E%E6%83%B3%E5%A4%A9%E5%89%87" target="_blank">東方 Tools Wiki</a></li>
				<li><a href="http://swr.mizuumi.net/index.php/Main_Page" target="_blank">SWRWiki (swr.mizuumi.net)</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki - 緋想天
			<ul>
				<li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗 霊夢</a></li>
				<li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨 魔理沙</a></li>
				<li><a href="http://wikiwiki.jp/izayoi/" target="_blank">十六夜 咲夜</a></li>
				<li><a href="http://www6.atwiki.jp/saturdayalice/pages/1.html" target="_blank">アリス マーガトロイド</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_patchouli/pages/1.html" target="_blank">パチュリー ノーレッジ</a></li>
				<li><a href="http://www31.atwiki.jp/konpaku_yomu/pages/1.html" target="_blank">魂魄 妖夢</a></li>
				<li><a href="http://www31.atwiki.jp/hi_remilia/" target="_blank">レミリア スカーレット</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_yuyuko/pages/1.html" target="_blank">西行寺 幽々子</a></li>
				<li><a href="http://www8.atwiki.jp/hisouten_yukari/" target="_blank">八雲 紫</a></li>
				<li><a href="http://wikiwiki.jp/suika/" target="_blank">伊吹 萃香</a></li>
				<li><a href="http://wikiwiki.jp/rinsen/" target="_blank">鈴仙 優曇華院 イナバ</a></li>
				<li><a href="http://wikiwiki.jp/aya/" target="_blank">射命丸 文</a></li>
				<li><a href="http://www37.atwiki.jp/komachi_wiki/" target="_blank">小野塚 小町</a></li>
				<li><a href="http://www6.atwiki.jp/ikuwiki/" target="_blank">永江 衣玖</a></li>
				<li><a href="http://wikiwiki.jp/tenshi/" target="_blank">比那名居 天子</a></li>
			</ul>
		</li>
		<li>オンライン大会
			<ul>
				<li><a href="http://hitenroku.web9.jp/swissdraw/" target="_blank">緋天録「外伝」SwissDraw</a></li>
				<li><a href="http://www6.atwiki.jp/suigetumion/" target="_blank">東方緋闘劇</a></li>
				<li><a href="http://remi.s373.xrea.com/" target="_blank">紅い処</a></li>
				<li><a href="http://www8.atwiki.jp/hisouten_ts/" target="_blank">東方緋散華</a></li>
				<li><a href="http://jbbs.livedoor.jp/game/46281/" target="_blank">東歌夜魄奏</a></li>
				<li><a href="http://www7.atpages.jp/nitiyouhi/" target="_blank">東方日曜緋（跡地）</a></li>
			</ul>
		</li>
		<li>オフライン大会
			<ul>
				<li><a href="http://th123.glasscore.net/?%E3%82%AA%E3%83%95%E3%83%A9%E3%82%A4%E3%83%B3%E5%A4%A7%E4%BC%9A" target="_blank">オフライン大会 - 東方非想天則 Wiki</a></li>
			</ul>
		</li>
	</ul>
