	<ul id="link">
		<li>公式
			<ul>
				<li><a href="http://www.tasofro.net/" target="_blank"><img alt="黄昏フロンティア" src="http://www.tasofro.net/img/tf_bn.gif" height="32" /></a></li>
				<li><a href="http://www16.big.or.jp/~zun/" target="_blank"><img alt="上海アリス幻樂団" src="http://www16.big.or.jp/~zun/image/banner.gif" height="32" /></a></li>
			</ul>
		</li>
		<li>深秘録 - 対戦場所
			<ul>
				<li><a href="http://jbbs.shitaraba.net/netgame/14382/" target="_blank">深秘録対戦板（したらば）</a></li>
				<li><a href="https://twitter.com/snprch" target="_blank">深秘録くん＠twitter</a></li>
				<li><a href="http://www.sinpi-suwako.com/" target="_blank">ランダム対戦 深SUWAKO</a></li>
			</ul>
		</li>
		<li>深秘録 - Wiki
			<ul>
				<li><a href="http://wikiwiki.jp/vipsinpiroku/" target="_blank">VIPで東方深秘録 Wiki</a></li>
				<li><a href="http://www9.atwiki.jp/shinpiroku_reimu/" target="_blank">博麗霊夢</a></li>
				<%# <li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨魔理沙</a></li> -%>
				<li><a href="http://www8.atwiki.jp/th145ichirin_unzan/" target="_blank">雲居一輪＆雲山</a></li>
				<%# <li><a href="http://wikiwiki.jp/byakuren/" target="_blank">聖白蓮</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/futo/" target="_blank">物部布都</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/toyosatomimi/" target="_blank">豊聡耳神子</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/skr-nitori/" target="_blank">河城にとり</a></li> -%>
				<li><a href="http://wikiwiki.jp/th145koishi/" target="_blank">古明地こいし</a></li>
				<li><a href="http://wikiwiki.jp/mamizou5000/" target="_blank">二ッ岩マミゾウ</a></li>
				<%# <li><a href="http://wikiwiki.jp/kokoro/" target="_blank">秦こころ</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/kokoro/" target="_blank">茨木華扇</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/kokoro/" target="_blank">藤原妹紅</a></li> -%>
				<li><a href="http://wikiwiki.jp/shinmyoumaru/?FrontPage" target="_blank">少名針妙丸</a></li>
				<%# <li><a href="http://wikiwiki.jp/kokoro/" target="_blank">宇佐美菫子</a></li> -%>
			</ul>
		</li>
		<li>ツール
			<ul>
				<li><a href="http://wikiwiki.jp/vipsinpiroku/" target="_blank">AddressUpdater</a></li>
				<li><a href="http://sbfl.net/apps/thtmpl/" target="_blank">心綺楼／天則テンプレツール</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E8%8A%8B%E6%9D%BF" target="_blank">芋板</a></li>
				<li><a href="<%= "#{CFG[:top_url]}estimate_rating.cgi" %>">Tenco! レート推定（仮）</a></li>
				<li><a href="http://tbp.sukima.in/" target="_blank">Tenco! ブログパーツ</a></li>
			</ul>
		</li>
		<li>心綺楼
			<ul>
				<li><a href="http://th135.glasscore.net/" target="_blank"><img alt="東方心綺楼 総合Wiki" src="http://th135.glasscore.net/skin/HM/Logo.png" height="32" /></a></li>
				<li><a href="http://wikiwiki.jp/sinkirou/" target="_blank">東方心綺楼 攻略Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E5%BF%83%E7%B6%BA%E6%A5%BC" target="_blank">心綺楼 - 東方 Tools Wiki</a></li>
				<li><a href="http://jbbs.livedoor.jp/netgame/12191/" target="_blank">心綺楼対戦板（したらば）</a></li>
				<li><a href="https://twitter.com/snkrch" target="_blank">心綺桜ちゃん＠twitter</a></li>
				<li><a href="http://www43.tok2.com/home/rakuduki/" target="_blank">東方心綺楼-ネット対戦掲示板-</a></li>
				<li><a href="http://varmcoofen.web.fc2.com/chat.html" target="_blank">弾闘</a></li>
			</ul>
		</li>
		<li>オンライン大会 - 心綺楼
			<ul>
				<li><a href="http://wikiwiki.jp/th135ranking/" target="_blank">東方心綺楼ランキングバトル</a></li>
				<li><a href="http://com.nicovideo.jp/community/co2029180" target="_blank">東方華妻舞踏(かめんぶとう)</a></li>
				<li><a href="http://com.nicovideo.jp/community/co291517" target="_blank">健全杯</a></li>
				<li><a href="http://jbbs.livedoor.jp/bbs/read.cgi/netgame/12191/1370325413/l50" target="_blank">大会告知スレ</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki - 心綺楼
			<ul>
				<%# <li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗霊夢</a></li> -%>
				<%# <li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨魔理沙</a></li> -%>
				<%# <li><a href="http://wikiwiki.jp/sakuya123/" target="_blank">雲居一輪</a></li> -%>
				<li><a href="http://wikiwiki.jp/byakuren/" target="_blank">聖白蓮</a></li>
				<li><a href="http://wikiwiki.jp/futo/" target="_blank">物部布都</a></li>
				<li><a href="http://wikiwiki.jp/toyosatomimi/" target="_blank">豊聡耳神子</a></li>
				<li><a href="http://wikiwiki.jp/skr-nitori/" target="_blank">河城にとり</a></li>
				<li><a href="http://wikiwiki.jp/koishi/" target="_blank">古明地こいし</a></li>
				<li><a href="http://wikiwiki.jp/mamizou/" target="_blank">二ッ岩マミゾウ</a></li>
				<li><a href="http://wikiwiki.jp/kokoro/" target="_blank">秦こころ</a></li>
			</ul>
		</li>
		<li>対戦場所 - 非想天則
			<ul>
				<li><a href="http://jbbs.livedoor.jp/netgame/12181/" target="_blank">非非想天則対戦板</a></li>
				<li><a href="http://find.2ch.net/?STR=%C8%F3%C1%DB%C5%B7%C2%A7+%C2%D0%C0%EF&amp;COUNT=50&amp;TYPE=TITLE&amp;BBS=ALL" target="_blank">2ch非想天則対戦スレ</a></li>
				<li><a href="http://mint.s150.xrea.com/?AddressUpdater" target="_blank">AddressUpdater</a></li>
				<li><a href="http://219.94.251.230/HisoutenAddressService/AddressService" target="_blank">AUねやす鯖</a></li>
				<li><a href="https://twitter.com/tskch" target="_blank">天則ちゃん＠twitter</a></li>
				<!-- <li><a href="http://nora178.web.fc2.com/" target="_blank">AU野良うさぎ(仮)サーバ</a>(終了)</li> -->
				<li><a href="http://maounet.6.ql.bz/" target="_blank">魔王掲示板</a></li>
			</ul>
		</li>
		<li>オンライン大会 - 非想天則
			<ul>
				<li><a href="http://info.tenco.info/cal/th123.html" target="_blank">非想天則イベントカレンダー</a></li>
				<li><a href="http://th123.glasscore.net/#online_tournament" target="_blank">オンライン大会 - 東方非想天則 Wiki</a></li>
			</ul>
		</li>
		<li>オフライン大会 - 非想天則
			<ul>
				<li><a href="http://www22.atpages.jp/kitanogensokyo/hiso/" target="_blank">道想会(北海道)</a></li>
				<li><a href="http://w.livedoor.jp/touhoku/" target="_blank">奥州郷(東北)</a></li>
				<li><a href="http://s6.ql.bz/~doyoudan/" target="_blank">土曜弾(東京)</a></li>
				<li><a href="http://store.surpara.com/page/event_hi" target="_blank">天舞双(東京)</a></li>
				<li><a href="http://www16.atwiki.jp/aichitensoku/" target="_blank">名古屋拳(愛知)</a></li>
				<li><a href="http://w.livedoor.jp/shiga-tennsoku/" target="_blank">湖畔舞闘祭(滋賀)</a></li>
				<li><a href="http://www.geocities.jp/bullet_act/honpo/index.html" target="_blank">弾幕アクション関西大会(京都)</a></li>
				<li><a href="http://tensei.sitemix.jp/" target="_blank">非想天西(大阪)</a></li>
				<li><a href="http://wikiwiki.jp/hisoukoube/" target="_blank">神戸杯(兵庫)</a></li>
				<li><a href="http://dakimakura.sakura.ne.jp/daikyusyutohosai/" target="_blank">大⑨州東方祭(福岡)</a></li>
				<li><a href="http://hydragp.info/" target="_blank">ハイドラGP</a></li>
				<li><a href="http://info.tenco.info/cal/th123.html" target="_blank">非想天則イベントカレンダー</a></li>
				<li><a href="http://th123.glasscore.net/#offline_tournament" target="_blank">オフライン大会 - 東方非想天則 Wiki</a></li>
			</ul>
		</li>
		<li>Wiki・掲示板等 - 非想天則	
			<ul>
				<li><a href="http://jbbs.livedoor.jp/game/48698/" target="_blank">萃磨選堆 東方非想天則掲示板</a></li>
				<li><a href="http://jbbs.livedoor.jp/netgame/12181/" target="_blank">非非想天則対戦板</a></li>
				<li><a href="http://hisouten.net/" target="_blank">東方非想天則掲示板</a></li>
				<li><a href="http://jbbs.livedoor.jp/netgame/3812/" target="_blank">うらひそ</a></li>
				<li><a href="http://th123.glasscore.net/" target="_blank">東方非想天則 Wiki</a></li>
				<li><a href="http://www2.atwiki.jp/bulletaction/" target="_blank">細東攻Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E6%83%B3%E5%A4%A9%EF%BC%8B%E9%9D%9E%E6%83%B3%E5%A4%A9%E5%89%87" target="_blank">東方 Tools Wiki</a></li>
				<li><a href="http://hisouten.koumakan.jp/" target="_blank">Touhou Hisoutensoku Wiki (en)</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki - 非想天則
			<ul>
				<li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗 霊夢</a></li>
				<li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨 魔理沙</a></li>
				<li><a href="http://wikiwiki.jp/sakuya123/" target="_blank">十六夜 咲夜</a></li>
				<li><a href="http://wikiwiki.jp/alice123/" target="_blank">アリス マーガトロイド</a></li>
				<li><a href="http://www21.atwiki.jp/patchouli_hitensoku/" target="_blank">パチュリー ノーレッジ</a></li>
				<li><a href="http://wikiwiki.jp/myon/" target="_blank">魂魄 妖夢</a></li>
				<li><a href="http://www21.atwiki.jp/soku_remilia/" target="_blank">レミリア スカーレット</a></li>
				<li><a href="http://wikiwiki.jp/yuyusama/" target="_blank">西行寺 幽々子</a></li>
				<li><a href="http://wikiwiki.jp/yukari_th123/" target="_blank">八雲 紫</a></li>
				<li><a href="http://wikiwiki.jp/suika/" target="_blank">伊吹 萃香</a></li>
				<li><a href="http://wikiwiki.jp/rinsen/" target="_blank">鈴仙 優曇華院 イナバ</a></li>
				<li><a href="http://wikiwiki.jp/aya/" target="_blank">射命丸 文</a></li>
				<li><a href="http://wikiwiki.jp/komachi/" target="_blank">小野塚 小町</a></li>
				<li><a href="http://wikiwiki.jp/iku/" target="_blank">永江 衣玖</a></li>
				<li><a href="http://wikiwiki.jp/tenshi/" target="_blank">比那名居 天子</a></li>
				<li><a href="http://wikiwiki.jp/sanae/" target="_blank">東風谷 早苗</a></li>
				<li><a href="http://wikiwiki.jp/chirno123/" target="_blank">チルノ</a></li>
				<li><a href="http://wiki.livedoor.jp/tohochu/" target="_blank">紅 美鈴</a></li>
				<li><a href="http://wikiwiki.jp/unyuho/" target="_blank">霊烏路 空</a></li>
				<li><a href="http://www21.atwiki.jp/moriya_suwako/pages/1.html" target="_blank">洩矢 諏訪子</a></li>
			</ul>
		</li>
		<li>Wiki・掲示板等 - 緋想天
			<ul>
				<li><a href="http://jbbs.livedoor.jp/game/44334/" target="_blank">萃磨選堆(したらば)</a></li>
				<li><a href="http://find.2ch.net/?STR=%C5%EC%CA%FD%C8%EC%C1%DB%C5%B7%A1%A1%A5%CD%A5%C3%A5%C8%C2%D0%C0%EF&amp;COUNT=50&amp;TYPE=TITLE&amp;BBS=ALL" target="_blank">2ch緋想天対戦スレ</a></li>
				<li><a href="http://www38.atwiki.jp/hisouten/" target="_blank">東方緋想天Wiki</a></li>
				<li><a href="http://mint.s150.xrea.com/?%E7%B7%8B%E6%83%B3%E5%A4%A9%EF%BC%8B%E9%9D%9E%E6%83%B3%E5%A4%A9%E5%89%87" target="_blank">東方 Tools Wiki</a></li>
				<li><a href="http://touhou-hisouten.wikia.com/wiki/Touhou_Hisoutensoku_Wiki" target="_blank">SWRSWiki</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki - 緋想天
			<ul>
				<li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗 霊夢</a></li>
				<li><a href="http://www8.atwiki.jp/marisa-kirisame/" target="_blank">霧雨 魔理沙</a></li>
				<li><a href="http://wikiwiki.jp/izayoi/" target="_blank">十六夜 咲夜</a></li>
				<li><a href="http://www6.atwiki.jp/saturdayalice/pages/1.html" target="_blank">アリス マーガトロイド</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_patchouli/pages/1.html" target="_blank">パチュリー ノーレッジ</a></li>
				<li><a href="http://www31.atwiki.jp/konpaku_yomu/pages/1.html" target="_blank">魂魄 妖夢</a></li>
				<li><a href="http://www31.atwiki.jp/hi_remilia/" target="_blank">レミリア スカーレット</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_yuyuko/pages/1.html" target="_blank">西行寺 幽々子</a></li>
				<li><a href="http://www8.atwiki.jp/hisouten_yukari/" target="_blank">八雲 紫</a></li>
				<li><a href="http://wikiwiki.jp/suika/" target="_blank">伊吹 萃香</a></li>
				<li><a href="http://wikiwiki.jp/rinsen/" target="_blank">鈴仙 優曇華院 イナバ</a></li>
				<li><a href="http://wikiwiki.jp/aya/" target="_blank">射命丸 文</a></li>
				<li><a href="http://www37.atwiki.jp/komachi_wiki/" target="_blank">小野塚 小町</a></li>
				<li><a href="http://wikiwiki.jp/iku/" target="_blank">永江 衣玖</a></li>
				<li><a href="http://wikiwiki.jp/tenshi/" target="_blank">比那名居 天子</a></li>
			</ul>
		</li>
		<li>Tenco! 関連
			<ul>
				<li><a href="http://en.wikipedia.org/wiki/Glicko_rating_system" target="_blank">Glicko Ratings - Wikipedia</a><br /><span class="suppli">（＝現行レートシステム）</span></li>
				<li><a href="http://status.tenco.info/912690">Tenco! 死活監視１</a></li>
				<li><a href="https://uptimer.at/http://tenco.info/">Tenco! 死活監視２</a></li>
				<li><a href="http://dark.tenco.info/munin/tenco.info/dark.tenco.info/index.html">Tenco! サーバー性能監視</a></li>
				<li><a href="http://dark.tenco.info/awstats/">Tenco! サーバーアクセス状況</a></li>
				<li><a href="http://th075ranking.dip.jp/" target="_blank">萃夢想レーティングシステム・Suica!</a></li>
			</ul>
		</li>
	</ul>
