	<ul>
		<li>公式
			<ul>
				<li><a href="http://www.tasofro.net/" target="_blank">黄昏フロンティア</a></li>
				<li><a href="http://www16.big.or.jp/~zun/" target="_blank">上海アリス幻樂団</a></li>
			</ul>
		</li>
		<li>Tenco! 関連
			<ul>
				<li><a href="http://thtools.s348.xrea.com/?%C8%EC%B9%D4%C0%D7%CA%F3%B9%F0%A5%C4%A1%BC%A5%EB%20Tenco%21" target="_blank">緋行跡報告ツール Tenco! - 東方 Tools Wiki</a></li>
				<li><a href="http://ja.wikipedia.org/wiki/%E3%82%A4%E3%83%AD%E3%83%AC%E3%83%BC%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0" target="_blank">イロレーティング - Wikipedia</a></li>
				<li><a href="http://en.wikipedia.org/wiki/Glicko_rating_system" target="_blank">Glicko Ratings System - Wikipedia</a></li>
				<li><a href="http://thtools.s348.xrea.com/?%C8%EC%B9%D4%C0%D7" target="_blank">緋行跡 - 東方ToolsWiki</a></li>
				<li><a href="http://bngper.dip.jp/HisoutenAddressService/" target="_blank">AddressUpdater</a></li>
				<li><a href="http://www9.atpages.jp/hitenroku/wiki/" target="_blank">緋天録</a></li>
			</ul>
		</li>
		<li>Wiki・掲示板
			<ul>
				<li><a href="http://jbbs.livedoor.jp/game/44334/" target="_blank">萃磨選堆(したらば)</a></li>
				<li><a href="http://find.2ch.net/?STR=%C5%EC%CA%FD%C8%EC%C1%DB%C5%B7%A1%A1%A5%CD%A5%C3%A5%C8%C2%D0%C0%EF&amp;COUNT=50&amp;TYPE=TITLE&amp;BBS=ALL" target="_blank">2ch緋想天対戦スレ</a></li>
				<li><a href="http://www38.atwiki.jp/hisouten/" target="_blank">東方緋想天Wiki</a></li>
				<li><a href="http://thtools.s348.xrea.com/?%C5%EC%CA%FD%C8%EC%C1%DB%C5%B7" target="_blank">東方 Tools Wiki</a></li>
			</ul>
		</li>
		<li>各キャラ攻略Wiki
			<ul>
				<li><a href="http://www31.atwiki.jp/hisou_reimu/" target="_blank">博麗 霊夢</a></li>
				<li><a href="http://www8.atwiki.jp/marisa-kirisame/pages/1.html" target="_blank">霧雨 魔理沙</a></li>
				<li><a href="http://wikiwiki.jp/izayoi/" target="_blank">十六夜 咲夜</a></li>
				<li><a href="http://www6.atwiki.jp/saturdayalice/pages/1.html" target="_blank">アリス マーガトロイド</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_patchouli/pages/1.html" target="_blank">パチュリー ノーリッジ</a></li>
				<li><a href="http://www31.atwiki.jp/konpaku_yomu/pages/1.html" target="_blank">魂魄 妖夢</a></li>
				<li><a href="http://www31.atwiki.jp/hi_remilia/" target="_blank">レミリア スカーレット</a></li>
				<li><a href="http://www31.atwiki.jp/hisouten_yuyuko/pages/1.html" target="_blank">西行寺 幽々子</a></li>
				<li><a href="http://www8.atwiki.jp/hisouten_yukari/" target="_blank">八雲 紫</a></li>
				<li><a href="http://wikiwiki.jp/suika/" target="_blank">伊吹 萃香</a></li>
				<li><a href="http://wikiwiki.jp/rinsen/" target="_blank">鈴仙 優曇華院 イナバ</a></li>
				<li><a href="http://wikiwiki.jp/aya/" target="_blank">射命丸 文</a></li>
				<li><a href="http://www37.atwiki.jp/komachi_wiki/" target="_blank">小野塚 小町</a></li>
				<li><a href="http://www6.atwiki.jp/ikuwiki/" target="_blank">永江 衣玖</a></li>
				<li><a href="http://wikiwiki.jp/tenshi/" target="_blank">比那名居 天子</a></li>
			</ul>
		</li>
	</ul>
